.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px; /* espacio  entre items*/
    place-items: center;
}

.item {
    background-color: aqua;
    border: 1px solid ;
    text-align: center;
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}