body {
    margin: 0;
    font-family: Consolas, monospace;
    background-color: #081c15;
    color: #d8f3dc;
}

.container {
    width: 95%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 25px;
    background-color: #0b2e23;
    border-radius: 4px;
}

.form-container {
    width: 95%;
    max-width: 420px;
    margin: 60px auto;
    padding: 25px;
    background-color: #0b2e23;
    border-radius: 4px;
}

h1 {
    margin-bottom: 20px;
    color: #95d5b2;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: transparent;
    color: #95d5b2;
    border: 2px solid #52b788;
    text-decoration: none;
}

.btn:hover {
    background-color: #52b788;
    color: #081c15;
}

.btn-edit {
    padding: 6px 10px;
    border: 1px dashed #74c69d;
    color: #74c69d;
    text-decoration: none;
}

.btn-edit:hover {
    background-color: #74c69d;
    color: #081c15;
}

.btn-delete {
    padding: 6px 10px;
    border: 1px dashed #ff6b6b;
    color: #ff6b6b;
    text-decoration: none;
}

.btn-delete:hover {
    background-color: #ff6b6b;
    color: #081c15;
}

table {
    width: 100%;
    margin-top: 20px;
}

th {
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid #52b788;
    color: #95d5b2;
}

td {
    padding: 10px 0;
    border-bottom: 1px solid #1b4332;
}

tr:hover td {
    background-color: #1b4332;
}

form {
    display: grid;
    gap: 14px;
}

input,
select {
    background-color: #081c15;
    border: 1px solid #52b788;
    color: #d8f3dc;
    padding: 10px;
}

input::placeholder {
    color: #95d5b2;
}

input:focus,
select:focus {
    outline: none;
    background-color: #081c15;
    border-color: #95d5b2;
}

 .dashboard-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid #52b788;
        }
        .user-info {
            color: #d8f3dc;
            font-size: 0.9em;
        }
 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .welcome-box {
            text-align: center;
            padding: 40px;
            background-color: #0b2e23; /* Tu color de fondo de container */
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.5);
            max-width: 500px;
            width: 90%;
        }
        .welcome-box h1 {
            color: #95d5b2;
            margin-bottom: 10px;
        }
        .welcome-box p {
            color: #d8f3dc;
            margin-bottom: 30px;
        }
        .btn-group {
            display: flex;
            gap: 15px;
            justify-content: center;
        }
        .btn-large {
            padding: 12px 25px;
            font-size: 1.1em;
        }