body {
    margin: 0;
    font-family: Consolas, monospace;
    background-color: #081c15;
    color: #d8f3dc;
}

.index-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-box {
    text-align: center;
    padding: 40px;
    background-color: #0b2e23;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    max-width: 450px;
    width: 90%;
}

h1 {
    color: #95d5b2;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 24px;
}

.btn-group {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    color: #95d5b2;
    border: 2px solid #52b788;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #52b788;
    color: #081c15;
}

.admin-body {
    display: block;
    padding: 20px;
}
.bienvenida-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #081c15;
}

.bienvenida-box {
    text-align: center;
    padding: 40px;
    background-color: #0b2e23;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    max-width: 500px;
    width: 90%;
    border: 1px solid #1b4332;
}

.bienvenida-box h1 {
    color: #95d5b2;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
}

.bienvenida-box p {
    color: #d8f3dc;
    margin-bottom: 25px;
}